.dropdown {
    border-radius: 5px;
    margin-bottom: 18px;
    text-align: left;
}

.header-dropdown {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    width: 100%;
}

.titre-dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 18.08px;
    color: #ffffff;
    font-size: 24px;
    line-height: 34.22px;
    font-weight: 500;
}

.fleche-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
}

.fleche-dropdown.true {
    justify-content: start;
    transform: rotate(-180deg);
}

.description-dropdown {
    height: 100%;
    margin-top: -10px;
    padding: 25px 18px 10px 18px;
    background-color: #F7F7F7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
}



.Dropdown_header {
    background-color: #ff6060;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
}

.Dropdown {
    background-color: #f6f6f6;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 31px;
}

.Dropdown_content {

    color: #ff6060;
    padding: 25px 18px 10px 18px;
}

.Dropdown_title {
    font-weight: 300;
    margin: 0;
    font-size: 0.9rem;
}

.Dropdown_ArrowImg {
    width: 20px;
}

@media screen and (max-width: 600px) {
    .Dropdown_header {
        height: 30px;
        padding: 0 15px;
    }

    .Dropdown_title {
        font-size: 0.7rem;
    }
}