.APropos {
    /* max-width: 1240px; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px 50px;
    padding: 0px 208px;
    margin-top: 53px;
}

@media screen and (max-width: 938px) {

    .APropos {
        background-color: unset;
        padding: 0px 0px;
        margin-top: 43px;
    }

}