/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  font-family: "Montserrat";
  font-size: 12px;
}

/* Contenu */
.App {
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

#root {
  height: 100%;
}