/* Contenu */
.layout {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100%;
}

main {
    /* height: calc(100% - 68px); */
    width: 100%;
    margin: 0 auto;
    margin-top: 3%;
}

@media screen and (max-width: 355px) {
    .layout {
        margin: 0px 20px;
        height: 100%;
    }


}