/* Contenu */
.layout {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    /* padding: 0 100px; */
}

main {
    height: calc(100% - 68px);
    width: 100%;
    margin: auto;
    margin-top: 3%;

}

@media screen and (max-width: 490px) {
    .layout {
        margin: 0px 20px;
        height: 100%;
    }


}